$color-white: #fff;
$color-black: #000;
$color-red: #cf1824;
$color-red-dark: #A41F25;
$color-lightBrown1: #c39b7c;
$color-lightBrown2: #c49a6c;
$color-darkBrown: #532b00;

$x-4: 4rem 0;
$y-4: 0 4rem;